@import 'nav.css';
@import 'layout.css';
@import 'svg.css';
@import 'functions.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

:root{
    --transition-base: .5s ease-out;
    --transition-short: .25s ease-out;
    --primary-color: rgb(95, 95, 95);
    --light-gray: rgb(231, 231, 231);
}

body{
  background-image: radial-gradient(circle at center,
  rgb(154, 154, 154) 0 5%,
  white 5% 100%);
  background-size: 2rem 2rem;
}

a{
    color: black;
}

button{
  border: none;
  background: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

li{
  list-style-position: inside;
}

ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}